<hr>
<div class="row">
            <div class="col">
                <h4>Contestants</h4>
            </div>          
          </div>
          <div class="row">
              <div class="col-5"><h5>Name</h5></div>
              <div class="col-3"><h5>Genre</h5></div>
              <div class="col-2"><h5>Points seperated</h5></div>
              <div class="col-2"><h5>Sum</h5></div>
          </div>
          <div class="row">
            <div class="col">
                <div class="content-box-round"></div>
            </div>          
          </div>
          <hr>
          <div class="row">
            <div class="col">
                <h4>Round Winner</h4>
            </div>          
          </div>
          <div class="row">
              <div class="col-5"><h5>Name</h5></div>
              <div class="col-3"><h5>Points</h5></div>
          </div>
          <div class="row">
            <div class="col">
                <div class="content-box-round-winner"></div>
            </div>          
          </div>
